{minimum_otp_vsn, "21.0"}.
{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.5.0"}]}.

{shell, [
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args"},
    {apps, [ioc2rpz]}
]}.


{relx, [
  {release, {ioc2rpz, {cmd, "grep ioc2rpz_ver include/ioc2rpz.hrl | awk -F'\"' '{printf $2}'"}}, [ioc2rpz]},

  {dev_mode, true},
  {include_erts, false},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args"},

  {extended_start_script, true}
]}.